body{
  margin: 0
}

a{
  text-decoration: none;
  color: black;
}

html,body,head{
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  text-align:center;
    padding: 15px;
  background-color: #F3F5F8;
  font-size: 15px;
  color: #676a6d;
}

nav{
  width:15%;
  top:0px;
  left:0px;
  position:fixed;
  padding:10px 0px;
  height:100%;
  font-weight:thin;
  -webkit-box-shadow: 2px 1px 21px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 1px 21px -1px rgba(0,0,0,0.75);
  box-shadow: 2px 1px 21px -1px rgba(0,0,0,0.75);
}

ul{
  height:88%;
  padding: 8px;
  overflow-y:auto;
  overflow-x:hidden;
  list-style:none;
  text-align:left;
}

li{
  padding: 8px;
}

li:hover{
  background-color: rgba(145,178,245,1);
  color: white;
  transform: 1s;
  border-radius: 5px;
  transition: 0.5s;

}
#main-doc{
  position:relative;
  left:20%;
  width:76%;
  text-align:left;
  padding: 15px;
}

span{
  font-weight: bold;
}
.card{
  -moz-box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-width: 50% !important;
  min-height:50vh !important;
  margin: 0 auto;
  margin-top: 15px;
  padding: 15px;
  background-color: #fff;
}

.padding{
  padding: 15px;
}

.row{
  display: grid;
  margin-right: -15px;
  margin-left: -15px;
}

.col{
  margin: 15px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  margin: 5px;
  border-radius: 3px;
  width: 100%;
  -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:312px;
    padding:8px;
    color:#000000;
    background-color:#ffffff;
    border:solid 1px #d7d7d7;
    font-family:Arial, Helvetica, Sans-Serif;
    font-size:10pt;
    text-align:left;
}

.align-row{
  display: flex;
  flex-direction: row;
}

.align-column{
  display: flex;
  flex-direction: column;
}

.col{
  grid-column: 1fr;
  margin: 0px 4px 0px 0 ;
}

.margin-auto{
  margin: 0 auto;
}

.red-button{
  background-color: rgb(175,17,28);
  border:1px solid white;
  padding: 15px;
  border-radius: 5px;
  color: white;
}


.head-img{
  width: 15px;  
  margin-top: 0 auto;
  text-align: center;
}

.container{
  margin: 0;
  padding: 15px;
}
.row{
  width: 100%;
  display: grid;
  margin-right: -15px;
  margin-left: -15px;
}

.text-center{
  text-align: center;
}

.card-header{
  margin:0 auto;
  margin-top: 15vh;
}

.bada{
  font-size: 50px;
}

.red-text{
  color: #12889B;
  font-size: 20px;
}

.red-button{
  background-color: #12889B;
}